/target
/classes
/checkouts
/aws
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

.DS_Store

test/cosheet/.DS_Store

test/.DS_Store

*.command
/bin/
test/cosheet/#expression_manager_test.clj#
src/cosheet2/#utils.clj#
test/.DS_Store
test/.DS_Store
