/* The general principle for borders is that the container sets a class
   on a contained div saying what kind of borders it needs. */

* {
    border-style: solid;
    border-width: 0px;
    border-color: #CCCCCC;
    box-sizing: border-box;
    background-color: white;
}

.selected, .tag-column.selected {
    background:
    linear-gradient(to right,
                    rgba(64,128,255,1),
                    rgba(255,255,255,0) 5px,
                    rgba(255,255,255,0)),
    linear-gradient(to left,
                    rgba(64,128,255,1),
                    rgba(255,255,255,0) 5px,
                    rgba(255,255,255,0)),
    linear-gradient(to bottom,
                    rgba(64,128,255,15),
                    rgba(255,255,255,0) 5px,
                    rgba(255,255,255,0)),
    linear-gradient(to top,
                    rgba(64,128,255,1),
                    rgba(255,255,255,0) 5px,
                    rgba(255,255,255,0));
    background-color: white;
}

.item {
    padding: 3px;
}

.element-table {
    border-spacing: 0;
}

.tag-column {
    /*background-color: #66FFFF; */
    background:
    linear-gradient(to right,
                    rgba(255,255,255,.7),
                    rgba(255,255,255,0) 7px,
                    rgba(255,255,255,0)),
    linear-gradient(to bottom,
                    rgba(255,255,255,.7),
                    rgba(255,255,255,0) 7px,
                    rgba(255,255,255,0)),
    linear-gradient(to top,
                    rgba(255,255,255,.7),
                    rgba(255,255,255,0) 7px,
                    rgba(255,255,255,0)),
    linear-gradient(to right, #C0F0FF, #C0F0FF);
    border-width: 2px 0px 0px 2px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    text-align: right;
    width: 30%;
}

.tag-column.for-multiple-items {
    vertical-align: middle;
}

.last-row > .tag-column {
    border-bottom-width: 2px;
}

.no-tags > .tag-column {
    width: 20px;
}

.item-column {
    border-width: 2px 2px 0px 2px;
    width: auto;
}

.last-row > .item-column {
    border-bottom-width: 2px;
}

.vertical-separated {
    border-width: 2px 0px 0px 0px;
}

.vertical-separated:first-child {
    border-width: 0px;
}

.content-text {
    position: relative; /* To make edit_holder position relative to it */
}

#edit_holder {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.editable > #edit_holder {
    display: block;
}

#edit_input {
    width: 100%;
    height: 100%;
    min-height: 10px;
    background: cornsilk;
    z-index: 3;
}